body{
    background-image: url('http://res.cloudinary.com/oi12345/image/upload/v1500414037/create_gxuurh.jpg');
}
#creatediv{
border-color: #ffffff;
padding: 10px;
font-family: 'Times New Roman', Times, serif;
background-color: rgba(255,255,255,0.2);
}

.fields{
    border-style:solid;
    border-width:1px;
    border-color: #fff8dc;
    border-radius: 5px;
    font-size: 20px;
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.5);
    margin-top: 10px;
}
.labels{
     color:rgba(0,0,0,1);
     font-weight: normal;
}
#sumbitbutton{
    border-radius: 3px;
    border: 1px solid #fff8dc;
    background-color: transparent;
    padding-left: 11px;
    padding-right: 11px;
    color:#000000;
}
#sumbitbutton:hover{
    background-color: #fff8dc;
    color: #000000;
    font-size: 16px;
}

td{
    color:rgba(0,0,0,1) ;
}
.short{
    width:50px;
}
#quizname,#syllabus{
    width:200px;
}